# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio 2010 files
*.sln
*.suo
*.sdf
*.opensdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Uninteresting Objects
fpshader.cg
fpshader.fpo
fpshader.ppu.o
vpshader.cg
vpshader.vpo
vpshader.ppu.o
Temp/

# Uninteresting Log files
*.ps3
*.rpcs3

# Uninteresting Source files
tests/rsx/rsx_fp_dynamic/*.cpp
tests/rsx/rsx_fp_static/*.cpp
tests/cpu/spu*/*.ppu.cpp

# Uninteresting Tests
misc/*
